*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 100px 400px;

}

header{
    background-image: url("/DN_JS230315_PhucNV/basic/beach3.jpg");
    height: 300px;
    width: 700px;
    /* text-align: center; */
}

.text{
    background-color: rgba(238, 176, 70, 0.897);
    opacity: 0.7;
    display: inline-block;
    margin-top: 200px;
    padding: 10px 120px 10px 10px;
}

.text p{
    width: 300px;
    font-weight: 600;
    font-size: 25px;
}

/* box */

.box-item{
    width: 699px;
    margin-top: 20px;
    margin-left: 35px;
}

.box-one{
    display: flex;
}

.box-two{
    display: flex;
}

.item{
    padding: 20px 10px;
}

.box-two p{
    width: 295px;
}

.item img{
    height: 200px;
    width: 100%;
    border: 5px solid #ffbe5d;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

.item h2{
    margin: 10px 0px;
}